	{% load static %}
	<!-- Mobile Menu Start Here -->
		<div class="mobile-menu">
			<nav class="mobile-header">
				<div class="header-logo">
					<a href="/">
                      <h4><strong style="font-family: cursive ;color:deepskyblue;">CRaman</strong></h4>
                    </a>
				</div>
				<div class="header-bar">
					<span></span>
					<span></span>
					<span></span>
				</div>
			</nav>
			<nav class="mobile-menu">
				<div class="mobile-menu-area">
					<div class="mobile-menu-area-inner">
						<ul class="lab-ul">
                            <ul class="lab-ul">
                                <li><a href="#contactme">About Page</a></li>
                                <li><a href="https://informerlevel.blogspot.com/2018/" target="_blank">Blog</a></li>
                                <li><a href="#contactme">Contact</a></li>
                            </ul>
                        </ul>
					</div>
				</div>
			</nav>
		</div>
		<!-- Mobile Menu Ending Here -->

		<!-- desktop menu start here -->
		<header class="header-section home-4">
			<div class="header-area">
				<div class="container">
					<div class="primary-menu">
						<div class="logo">
                            <a href="/">
                              <h4><strong style="font-family: cursive ;color:deepskyblue;">CRaman</strong></h4>
                            </a>
                        </div>
						<div class="main-area">
							<div class="main-menu">
								<ul class="lab-ul">
                                    <li><a href="#contactme">About Page</a></li>
                                    <li><a href="https://informerlevel.blogspot.com/2018/" target="_blank">Blog</a></li>
                                    <li><a href="#contactme">Contact</a></li>
                                </ul>
							</div>
							<!-- <div class="header-btn">
								<a href="{% static 'assets/cv.pdf' %}" download class="lab-btn style-2"><i class="icofont-download mr-2"> MY CV</i></a>
							</div> -->
						</div>
					</div>
				</div>
			</div>
		</header>
		<!-- desktop menu ending here -->